#main {
    width: 70vw;
    margin: auto;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
}

table, th, td {
    border: 1px solid;
    width: '100%';
}

td {
    text-align: center;
}

table {
    margin-top: 5vh;
}

.even {
    background-color: rgb(233, 233, 233);
}